/* comon css in web site start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Urbanist", serif;;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
li{
    list-style: none;
}
.container{
    width: 1240px;
    margin: auto;
}
/* comon css in web site edn */
/* =================nav bar start=================== */

.parent{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.logo{
    width: 20%;
}
.menu{
    width: 60%;
}
.menu ul{
 text-align: end;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    padding: 40px;
    color: #606D93;
    font-weight:500;
}
.menu ul li a:hover{
    color: #192252;
    transition: all linear 1s;
}
.nav_btn{
    width: 20%;
    text-align: end;
}
.nav_btn a{
    width: 157px;
    height: 54px;
    font-weight: 18px;
    color: white;
    background-color:#6345D5;
    padding: 16px 40px;
    margin: 22     px 0px;
    border-radius: 8px;
    transition: all linear .3s;
}
.nav_btn a:hover{
    background-color: white;
    color: #6345D5;
    border: 1px solid #6345D5;
}
/* =================nav bar end=================== */




/* =================baner bar start=================== */
.backgroud_blur_parent{
    position: relative;
}
.ship_one,.ship_two{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}
    .ship_three {
        position: absolute;
        top: 200px;
        right: 200px;
    } 
    .ship_three img {
        width: 1059px;
        height: 1023px;
    }

.bener_flex{
    display: flex;
    /* background-color: navy; */
    position: relative;
}
#benaer .benaer_tex{
    width: 503px;
    min-height: 264px;
    /* background-color: red; */
    align-items: center;
    margin-top: 124px;
}
  #benaer .benaer_tex h1{
    color: #192252;
    font-size: 80px;
  }
  #benaer .benaer_tex p{
    color: #848FAC;
    width: 345px;
    height: 54px;
    padding-top: 40px;
    margin-bottom: 80px;
  }
  .benaer_img{
    position: relative;
  }
  .benaer_img img {
    margin-top: 124px;
    position: absolute;
    top: 33px;
    left: 65px;
}
.benaer_tex div a:first-child{
    background-color: #6245D5;
    width: 201;
    height: 64px;
    border-radius: 8px;
    padding: 20px 40px;
    color: white;
    margin-top: 40px;
    font-size: 18px;
    border: 1px solid #6245D5;
}
.benaer_tex div a:first-child:hover{
    background-color: white;
    color: #6345D5;
    transition: all linear 0.3s;

}
.benaer_tex div a:last-child{
    background-color: #fff;
    width: 201;
    height: 64px;
    border-radius: 8px;
    padding: 20px 40px;
    color: #6245D5;
    margin-top: 40px;
    font-size: 18px;
}
.benaer_tex div a:last-child:hover{
    background-color: #6345D5;
    color: #fff;
    transition: all linear 0.3s;
}
.btn a{
    display: block;
}
.btn{
    margin-bottom: 200px;
    display: flex;
    gap: 24px;
    align-items: center;
}
.big_box_img {
    width: 1240px;
    height: 882px;
    background-color: red;
    position: absolute;
    top: 800px;
    left: -8px;
    margin-left: 20px;
    border-radius: 8px;
    overflow: hidden;
}
.big_box_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
   
/* =================benaer bar end=================== */
 .benaer_02{
    width: 100%;
    height: 650px;
 }
 .benaer_backgroud{
   margin-top: 339px;
    background-color:#201353 ;

 }
 .conut_parent {
    padding: 500px;
    position: absolute;
    left: 0;
    top: 1272px;
}
.backgroud{
    background-color: #ffffff2c;
    display: flex;
    justify-content: center;
    width:100%;
    position: absolute;
    left: 150px;
    top: 500px;
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
    align-items: center;
}
.count_1{
    width: 33.33%;
    height: 100%;
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
}
.count_2{
    width: 33.33%;
    height: 100%;
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
}
.count_2::before {
    content: "";
    position: absolute;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.269);
    top: 33px;
    left: 319px;
    width: 2px;
    height: 32px;
}
.count_2::after {
    content: "";
    position: absolute;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.269);
    top: 33px;
    right: 353px;
    width: 2px;
    height: 32px;
}
.count_3{
    width: 33.33%;
    height: 100%;
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
}
.number{
    font-size: 48px;
}
.text{
    font-size: 20px;
    margin-left: 10px;
}
/* =================biusnes bar start=================== */
.Full_window{
    background-color: #201353;
    width: 100%px;
}
.main_contend{
    display: flex;
}
.main_contend_one{
    width: 500px;
}
.main_contend_two{
    width: 500px;
}
.main_contend_one h2{
    font-size: 52px;
    color: white;
    margin-top: 100px;
    z-index: 999;
}
.contend_one{
    width: 388px;
    height: 188px;
    background-color: white;
    border-radius: 16px;
    margin-top: 48px;
}
.box_parent{
    display: flex;
    align-items: center;
}
.box_parent img{
    margin-left: 24px;
    margin-top: 24px;
}
.box_parent span{
    margin-top: 24px;
    margin-left: 12px;
    font-size: 18px;
    color: #192252;
}
.contend_one p{
    color: #848FAc;
    width: 320px;
    height: 48px;
    margin: 16px auto;
}
.contend_three{
    width: 388px;
    height: 188px;
    background-color: white;
    border-radius: 16px;
    margin-top: 48px;
    margin-bottom: 100px;
}
.contend_three p{
    color: #848FAc;
    width: 320px;
    height: 48px;
    margin: 16px auto;
}

.main_contend_two p{
   font-size: 18px;
   color: white;
   margin-left: 200px;
   /* background-color: red; */
   width: 555px;
   height: 66px;
   margin-top: 118px;
   margin-bottom: 88px;
}
.main_contend_two{
    margin-top: 47px;
}
/* =================biusnes bar end=================== */
/* =================money receive bar start=================== */

.color_back{
    width: 100%;
    height: 600px;
}
.main_receive_one{
    display: flex;
    align-items: center;
}
.receive_video{
    width: 600px;
    height: 600px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: red;
    border-radius: 24px;
    overflow: hidden;
    
}
video{
    width: 100%;
    height: 600px; 
    object-fit: cover;  
}
.receive_text{
    /* background-color: red; */
}
.receive_text h2{
    font-size: 52px;
    width: 514px;
    height: 124px;
    color: #192252;
    margin-left: 126px;
    display: inline-block;
    margin-top: 105px;
}
.receive_text span{
    font-size: 18px;
    color: #848FAC;
    width: 421px;
    height: 54px;
    margin-left: 126px;
    display: block;
    margin-top: 24px;
    /* background-color: green; */
    /* text-align: center; */
    margin-bottom: 40px;
}
.mark_1{
    display: flex;
    align-items: center;
    /* justify-self: center;s */
    margin-bottom: 40px;

}
.mark_1 img{
    margin-left: 126px;
}
.mark_1 h3{
    margin-left: 29px;
    color: #192252;
    font-size: 20px;
}
.mark_2{
    display: flex;
    align-items: center;
    /* justify-self: center;s */
    margin-bottom: 40px;

}
.mark_2 img{
    margin-left: 126px;
}
.mark_2 h3{
    margin-left: 29px;
    color: #192252;
    font-size: 20px;

}
.mark_3{
    display: flex;
    align-items: center;
    /* justify-self: center;s */
    margin-bottom: 40px;

}
.mark_3 img{
    margin-left: 126px;
}
.mark_3 h3{
    margin-left: 29px;
    color: #192252;
    font-size: 20px;

}
.mark_4{
    display: flex;
    align-items: center;
    /* justify-self: center;s */
    margin-bottom: 40px;

}
.mark_4 img{
    margin-left: 126px;
}
.mark_4 h3{
    margin-left: 29px;
    color: #192252;
    font-size: 20px;
}
.mark_5{
    display: flex;
    align-items: center;
    /* justify-self: center;s */
    margin-bottom: 40px;

}
.mark_5 img{
    margin-left: 126px;
}
.mark_5 h3{
    margin-left: 29px;
    color: #192252;
    font-size: 20px;

}
.main_receive_two{
    width: 100%;
    height: 222px;
    /* background-color: red; */
    margin-top: 100px;
}
.main_receive_two h6{
    color: #848FAC;
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}
.main_receive_two ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.main_receive_two ul li{
    padding: 24px;
    width: 208px;
    height: 52px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 62px;
}
/* =================money receive bar end=================== */
/* =================nav bar start=================== */
/* =================nav bar end=================== */