/* comon css in web site start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Urbanist", serif;;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
li{
    list-style: none;
}
.container{
    width: 1240px;
    margin: auto;
}
/* comon css in web site edn */
/* =================nav bar start=================== */

.parent{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.logo{
    width: 20%;
}
.menu{
    width: 60%;
}
.menu ul{
 text-align: end;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    padding: 40px;
    color: #606D93;
    font-weight:500;
}
.menu ul li a:hover{
    color: #192252;
    transition: all linear 1s;
}
.nav_btn{
    width: 20%;
    text-align: end;
}
.nav_btn a{
    width: 157px;
    height: 54px;
    font-weight: 18px;
    color: white;
    background-color:#6345D5;
    padding: 16px 40px;
    margin: 22     px 0px;
    border-radius: 8px;
    transition: all linear .3s;
}
.nav_btn a:hover{
    background-color: white;
    color: #6345D5;
    border: 1px solid #6345D5;
}
/* =================nav bar end=================== */




/* =================baner bar start=================== */
.backgroud_blur_parent{
    position: relative;
}
.ship_one{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}
.ship_two{
    position: absolute;
    top: -67px;
    right: -5px;
    z-index: -1;
}
    .ship_three {
        position: absolute;
        top: 350px;
        right: 840px;
    } 
    .ship_three img {
        width: 1059px;
        height: 1023px;
    }

.bener_flex{
    display: flex;
    /* background-color: navy; */
    position: relative;
}
#benaer .benaer_tex{
    width: 503px;
    min-height: 264px;
    /* background-color: red; */
    align-items: center;
    margin-top: 124px;
}
  #benaer .benaer_tex h1{
    color: #192252;
    font-size: 80px;
  }
  #benaer .benaer_tex p{
    color: #848FAC;
    width: 345px;
    height: 54px;
    padding-top: 40px;
    margin-bottom: 80px;
  }
  .benaer_img{
    position: relative;
  }
  .benaer_img img {
    margin-top: 124px;
    position: absolute;
    top: 33px;
    left: 111px;
}
.benaer_tex div a:first-child{
    background-color: #6245D5;
    width: 201;
    height: 64px;
    border-radius: 8px;
    padding: 20px 40px;
    color: white;
    margin-top: 40px;
    font-size: 18px;
    border: 1px solid #6245D5;
}
.benaer_tex div a:first-child:hover{
    background-color: white;
    color: #6345D5;
    transition: all linear 0.3s;

}
.benaer_tex div a:last-child{
    background-color: #fff;
    width: 201;
    height: 64px;
    border-radius: 8px;
    padding: 20px 40px;
    color: #6245D5;
    margin-top: 40px;
    font-size: 18px;
    border: 1px solid #6245D5;
}
.benaer_tex div a:last-child:hover{
    background-color: #6345D5;
    color: #fff;
    transition: all linear 0.3s;
}
.btn a{
    display: block;
}
.btn{
    margin-bottom: 200px;
    display: flex;
    gap: 24px;
    align-items: center;
}
.big_box_img {
    width: 1240px;
    height: 882px;
    background-color: red;
    position: absolute;
    top: 800px;
    margin-left: 20px;
    border-radius: 8px;
    overflow: hidden;
    right: 350px;
    z-index: 999;

}
.big_box_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
   
/* =================benaer bar end=================== */
 .benaer_02{
    width: 100%;
    height: 650px;
 }
 .benaer_backgroud{
   margin-top: 339px;
    background-color:#201353 ;

 }
 .conut_parent {
    padding: 500px;
    position: absolute;
    left: 0;
    top: 1272px;
}
.backgroud{
    background-color: #ffffff2c;
    display: flex;
    justify-content: center;
    width:100%;
    position: absolute;
    left: 430px;
    top: 516px;
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
    align-items: center;
}
.count_1{
    width: 33.33%;
    height: 100%;
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
}
.count_2{
    width: 33.33%;
    height: 100%;
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
}
.count_2::before {
    content: "";
    position: absolute;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.269);
    top: 33px;
    left: 319px;
    width: 2px;
    height: 32px;
}
.count_2::after {
    content: "";
    position: absolute;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.269);
    top: 33px;
    right: 353px;
    width: 2px;
    height: 32px;
}
.count_3{
    width: 33.33%;
    height: 100%;
    /* background-color: red; */
    color: white;
    display: flex;
    align-items: center;
}
.number{
    font-size: 48px;
}
.text{
    font-size: 20px;
    margin-left: 10px;
}
/* =================biusnes bar start=================== */
.Full_window{
    background-color: #201353;
    width: 100%px;
}
.main_contend{
    display: flex;
}
.main_contend_one{
    width: 500px;
}
.main_contend_two{
    width: 500px;
}
.main_contend_one h2{
    font-size: 52px;
    color: white;
    margin-top: 100px;
    z-index: 999;
    margin-top: 107px;
}
.contend_one{
    width: 388px;
    height: 188px;
    background-color: white;
    border-radius: 16px;
    margin-top: 48px;
}
.box_parent{
    display: flex;
    align-items: center;
}
.box_parent img{
    margin-left: 24px;
    margin-top: 24px;
}
.box_parent span{
    margin-top: 24px;
    margin-left: 12px;
    font-size: 18px;
    color: #192252;
}
.contend_one p{
    color: #848FAc;
    width: 320px;
    height: 48px;
    margin: 16px auto;
}
.contend_three{
    width: 388px;
    height: 188px;
    background-color: white;
    border-radius: 16px;
    margin-top: 48px;
    margin-bottom: 100px;
}
.contend_three p{
    color: #848FAc;
    width: 320px;
    height: 48px;
    margin: 16px auto;
}

.main_contend_two p{
   font-size: 18px;
   color: white;
   margin-left: 200px;
   /* background-color: red; */
   width: 555px;
   height: 66px;
   margin-top: 88px;
   margin-bottom: 118px;
}
.main_contend_two{
    margin-top: 47px;
}
/* =================biusnes bar end=================== */
/* =================money receive bar start=================== */

.color_back{
    width: 100%;
    height: 600px;
}
.main_receive_one{
    display: flex;
    align-items: center;
}
.receive_video{
    width: 600px;
    height: 600px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: red;
    border-radius: 24px;
    overflow: hidden;
    
}
video{
    width: 100%;
    height: 600px; 
    object-fit: cover;  
}
.receive_text{
    /* background-color: red; */
}
.receive_text h2{
    font-size: 52px;
    width: 514px;
    height: 124px;
    color: #192252;
    margin-left: 126px;
    display: inline-block;
    margin-top: 105px;
}
.receive_text span{
    font-size: 18px;
    color: #848FAC;
    width: 421px;
    height: 54px;
    margin-left: 126px;
    display: block;
    margin-top: 24px;
    /* background-color: green; */
    /* text-align: center; */
    margin-bottom: 40px;
}
.mark_1{
    display: flex;
    align-items: center;
    /* justify-self: center;s */
    margin-bottom: 40px;

}
.mark_1 img{
    margin-left: 126px;
}
.mark_1 h3{
    margin-left: 29px;
    color: #192252;
    font-size: 20px;
}
.mark_2{
    display: flex;
    align-items: center;
    /* justify-self: center;s */
    margin-bottom: 40px;

}
.mark_2 img{
    margin-left: 126px;
}
.mark_2 h3{
    margin-left: 29px;
    color: #192252;
    font-size: 20px;

}
.mark_3{
    display: flex;
    align-items: center;
    /* justify-self: center;s */
    margin-bottom: 40px;

}
.mark_3 img{
    margin-left: 126px;
}
.mark_3 h3{
    margin-left: 29px;
    color: #192252;
    font-size: 20px;

}
.mark_4{
    display: flex;
    align-items: center;
    /* justify-self: center;s */
    margin-bottom: 40px;

}
.mark_4 img{
    margin-left: 126px;
}
.mark_4 h3{
    margin-left: 29px;
    color: #192252;
    font-size: 20px;
}
.mark_5{
    display: flex;
    align-items: center;
    /* justify-self: center;s */
    margin-bottom: 40px;

}
.mark_5 img{
    margin-left: 126px;
}
.mark_5 h3{
    margin-left: 29px;
    color: #192252;
    font-size: 20px;

}
.main_receive_two{
    width: 100%;
    height: 222px;
    /* background-color: red; */
    margin-top: 100px;
}
.main_receive_two h6{
    color: #848FAC;
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}
.main_receive_two ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.main_receive_two ul li{
    padding: 24px;
    width: 208px;
    height: 52px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 62px;
}
/* =================money receive bar end=================== */
/* =================planign bar start=================== */
.planing{
    /* background-color: red; */
    width: 100%;
    height: 900px;
    margin-top: 350px;
}
.planing h2{
    text-align: center;
    font-size: 52px;
    color: #192252;
    margin-top: 262px;
    display: block;
    width: 1242px;
}
.bg_color{
    margin-top: 400px;
}
.planing p{
    color: #848FAC;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    width: 1253px;
}
.mian_palnig{
    /* background-color: blue; */
    display: flex;
}
.planig_one{
    width: 50%;
    height: 200px;
    /* background-color: green; */
    margin-left: 10px;
    margin-top: 64px;
}

.requler {
    width: 515px;
    height: 142px;
    /* background-color: blueviolet; */
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.327);
    box-shadow: 1px 1px 5px #ffa7a7;
    margin-top: 14px;
}
.requler_child{
    /* background-color: rgb(255, 255, 255); */
    width: 467px;
    height: 70px;
    display: flex;
    align-items: center;
     
}
.requler_child_one{
    width: 20%;
}
.requler_child_one img{
    margin-left: 24px;
}
.requler_child_two{
    width: 60%;
    padding: 24px;
}
.requler_child_three .b{
    display: block;
    font-size: 20px;
    color: #192252;
    text-decoration: none;
    font-size: 32px;
}
.requler_child_three span{
    font-size: 16px;
    color: #848FAC;
}


.requler_child_two u{
    display: block;
    font-size: 20px;
    color: #192252;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 800;
    padding-top: 24px;
    box-sizing: border-box;
}
/* .requler_child_two u:hover{
    color: white;
} */
.requler_child_two span{
    color: #848FAC;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    text-decoration: none;
    font-size: normal;
    padding-bottom: 24px;
}
uler_child_three{
    width: 205;
    text-align: end;
}
.requler_child_three em{
    font-size: 32px;
    color: #192252;
    font-weight: 800;
    margin-top: 8px;
}
.requler:hover{
    color: white;
    background-color: blueviolet;
    transition: all linear .3s;
}
.planig_two{
    width: 525px;
    height: 605px;
    margin-top: 80px;
    background-color: #F7F7F7;
    border-radius: 16px;
    box-shadow: 2px 1px 8px #ddd0d0;
}
.montlhy .Mnthly{
    background-color: #fff;
    width: 91px;
    height: 44px;
    border-radius: 22px;
    padding:12px;
    color: #848FAC;
}
.montlhy{
    margin-top: 48px;
    margin-left: 48px;
}
.montlhy .Year{
    background-color: #FC9770;
    width: 91px;
    height: 44px;
    border-radius: 22px;
    padding:12px;
    color: #848FAC;
}
.plane{
    width: 425px;
    height: 328px;
    /* background-color: red; */
    margin: 96px 48px 68px 52px ;
}
.main_plane{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 425px;
    height: 24px;
    /* background-color: rgb(177, 83, 83); */
    margin-top: 52px;
}
.flex_plane span{
    font-size: 18px;
    font-style: normal;
    color: #192252;
}
/* =================planign bar end=================== */

/* =================frome bar start=================== */
.from_erea{
  background-color:#201353 ;
  width: 100%;
  height: 1000px;
}
.main_input{
    /* background-color: red; */
    width: 100%;
    height: 400px;
    display: flex;
}
.text_fome{
 /* background-color: black; */
 /* height: auto; */
 /* width: 600px; */
 margin-top: 124px;
}
.forme{
    width: 600px;
    height: 678px;
    /* background-color: blue; */
}
.text_fome span{
    font-size:52px ;
    color: #FFFFFF;
    width: 448px;
    height: 10px;
    font-weight: 700;

   
}
.text_fome p{
    color: #FFFFFF;
    font-size: 18px;
    width: 434px;
    height: 54px;
    margin-top: 54px;
}
.text_fome .one_img{
    margin-top: 64px;
    width: 46px;
    height: 38px;
}
.text_fome normal{
    font-size: 20px;
    color: #FFFFFF;
    width: 489px;
    height: 90px;
    margin-bottom: 46px;
    display: block;
    margin-top: 48px;
}
.text_fome a{
    width: 129px;
    height: 30px;
    color: #FFFFFF;
    margin-bottom: 48px;
    font-size: 20px;
}
.Footer_icon{
    margin-bottom: 124px;
}
.text_fome #two_img{
    width: 64px;
    height: 64px;
    margin-top: 48px; 
}
.text_fome #three_img{
    width: 64px;
    height: 64px;
    margin-top: 48px;
    margin-left: 24px;
}
.text_fome #four_img{
    width: 64px;
    height: 64px;
    margin-top: 48px;
    margin-left: 24px;
}
.text_fome #five_img{
    width: 64px;
    height: 64px;
    margin-top: 48px;
    margin-left: 24px;
}
.text_fome #six_img{
    width: 64px;
    height: 64px;
    margin-top: 48px;
    margin-left: 24px;
}
.form_box{
    width: 600px;
    height: 678px;
    background-color: #ffffff32;
    border-radius: 24px;
    margin-left: 151px;
    margin-top: 100px;
    margin-bottom: 93px;
}
.footer_log{
    text-align: center;
}
.footer_log img{
 margin-top: 60px;
}
.footer_log b{
    font-size: 24px;
    font-weight: 900px;
    color: #FFFFFF;
    margin-top: 24px;
}
.footer_form{
    width:440px;
    height: 391px;
    /* background-color: red; */
    margin:auto;
    margin-top: 48px;
}
.footer_form p{
    color: white;
    font-size: 18px;
}
.footer_form p{
    color: white;
    font-size: 18px;
}
.footer_form #email{
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 14px;
    padding-left: 24px;
    margin-bottom: 10px;
}
.footer_form #message{
    width: 100%;
    height: 80px;
    margin-top: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-top: 14px;
    padding-left: 24px;
}
.footer_btn button{
    width: 440px;
    height: 64px;
    background-color: #FC9770;
    border: none;
    outline: none;
    margin-top: 40px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 8px;
}
.subtitle{
   text-align: end;
}
.subtitle p{
    display: inline-block;
    margin-top: 40px;
    color: #201353;

}
.subtitle a{
    color:#FFFFFF;
    cursor: pointer;
}
.footer_btn button:hover{
    background-color: white;
    border: 1px solid salmon;
    color: black;
    cursor: pointer;
    transition: all linear 0.3s;
}
/* =================form bar end=================== */
/* =================main footer bar start=================== */

footer{
    width: 100%;
    /* height: 1000px; */
    background-color: #201353;
}
.LOGO{
    width: 100%;
    /* height: 500px; */
    /* background-color: red; */
    /* background-color: green; */
}
.LOGO p{
  width: 332px;
  height: 54px;
  color: #FFFFFF;
  margin-top: 24px;

}
.child_container{
    display: flex;
    width: 100%;
}
.featured{
    width: 15%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    /* background-color: red; */
    gap: 10px;
}
.featured b{
    color: white;
    font-size: 16px;
}
.featured li{
    margin-top: 40px;
    font-size: 16px;
    color: white;
}
.featured_1{
    width: 15%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    /* background-color: red; */
    gap: 10px;
}
.featured_1 b{
    color: white !important;
    font-size: 16px;
}
.featured_1 li{
    margin-top: 40px;
    font-size: 16px;
    color: white;
}
.featured_1 li:hover{
    color: black;
    transition: all linear .3s;
}
.requler_child_one img{
    margin-top: 28px;
}
.featured_2 li:hover{
    color: black;
    transition: all linear .3s;
}
.featured_3 li:hover{
    color: black;
    transition: all linear .3s;
}
.featured_2{
    width: 15%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    /* background-color: red; */
    gap: 10px;
}
.featured_2 b{
    color: white;
    font-size: 16px;
}
.featured_2 li{
    margin-top: 40px;
    font-size: 16px;
    color: white;
}
.featured_3{
    width: 25%;
    width: 15%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    gap: 10px;
}
.featured_3 b{
    color: white;
    font-size: 16px;
}
.featured_3 li{
    margin-top: 40px;
    font-size: 16px;
    color: white;
}

hr{
    margin-top: 64px;
}
.last_footer{
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.last_footer .spce_one p{
    color: white;
    font-size: 18px;
}
.icon_flex img{
    cursor: pointer;
}
.featured  a li:hover{
    color: #000000;
}
.featured  b:hover{
    color: #000000;
}
.logo_logo{
    display: flex;
}
.ul{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content:space-between;
    /* background-color: red; */

}
/* .featured_1 b{
    background-color: green;
} */
/* =================main footer bar end=================== */